<div class="container">
  <div class="row">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-6" style="text-align:center">
      <!-- <h1>Enter your username:</h1>
      <p>Current username: <%= @username %></p> -->
      <!-- <div class="form-group">
        <input type="text" class="form-control" placeholder="Username..." autofocus="true">
      </div> -->
      <%= form_tag(controller: "sites", action: "index", method: "post") do %>
        <div class="input-group">
          <%= text_field_tag :name, "", value: @name, autofocus: true, placeholder: 'Enter username...', class: 'form-control' %>
          <span class="input-group-btn">
            <button class="btn btn-info" type="submit">Check Availability</button>
          </span>
        </div>
      <% end %>
    </div>
    <!-- /.col-lg-12 -->
    <div class="col-sm-3">
    </div>
  </div>
  <!-- /.row -->

  <div class="row">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-6">
      <!-- <h3>Results</h3> -->
      <table class="table table-borderless">
        <thead>
          <tr>
            <th>Site</th>
            <th>Availability</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Some cell</td>
            <td>Some other cell</td>
          </tr>
        </tbody>
      </table>
      <p>Github Response Code: <%= @github_response.code %></p>
      <p>LinkedIn Response Code: <%= @linkedin_response.code %></p>
      <p>Twitter Response Code: <%= @twitter_response.code %></p>
      <p>Instagram Response Code: <%= @instagram_response.code %></p>

    </div>
    <!-- /.col-lg-12 -->
    <div class="col-sm-3">
    </div>
  </div>
  <!-- /.row -->
</div>
